@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

.page-header {
  color: #000;
  background-color: #fff;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.index-hero {
  background-color: #000;
  background-image: url("../images/index/index-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-main {
  text-align: center;
}

.sect-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-card {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #82b3d3;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-image {
  width: 800px;
}

.advantages-items .advantages-card {
  color: #333;
  background-color: #fff;
}
.advantages-items .card-title {
  color: #000;
}
.advantages-items .advantages-card:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.servies-item .card-discription {
  color: #333;
}

.servies-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.page-footer {
  background-color: #fff;
}

.subscribe {
  color: #fff;
  background: #756157;
  background-image: url("../images/subscribe.jpg");
  text-align: center;
}

.newsletter-button {
  background-color: #82b3d3;
}

.footer-contacts a {
  color: #000;
  text-decoration: none;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
}

.academy-link img {
  width: 115px;
  height: 100%;
}

.catalog-hero {
  background-image: url("../images/catalog/catalog-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #fff;
}

.catalog-hero-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-accept {
  background-color: #82b3d3;
}

.catalog-filter-reset {
  background-color: none;
}

.catalog-main {
  color: #000;
  background-color: #fff;
}

.catalog-offers-found {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-main a {
  color: #000;
  text-decoration: none;
}

.product-name {
  font-size: 24px;
  line-height: 28px;
}

.product-image {
  width: 300px;
  height: 100%;
}

.product-card-wrapper {
  line-height: 20px;
  font-size: 16px;
}

.product-type {
  font-size: 18px;
  line-height: 21px;
}

.product-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-item .product-button-more {
  color: #fff;
  font-weight: 700;
}

.product-item .product-button-favorites {
  background-color: #82b3d3;
}

.product-rating {
  color: #333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #fff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}
