@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.line-break-span {
  display: inline-block;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.content-wrapper {
  padding: 0 70px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 440px;
  display: flex;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding: 16px 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  width: 300px;
  display: flex;
  justify-content: right;
}

.navigation-user-link {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
}

.navigation-user-search {
  background-image: url("../images/icons/search.svg");
  background-size: 18px 18px;
}

.navigation-user-favorites {
  background-image: url("../images/icons/heart.svg");
  background-size: 18px 17px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  display: block;
}

.index-hero {
  background-color: #529eca;
  background-image: url("../images/index/index-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.index-hero img {
  display: block;
  margin: 0 auto;
}

.sect-caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.sect-description {
  text-align: center;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  box-sizing: border-box;
  padding: 0 80px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item {
  width: 1200px;
  background-color: #82b3d3;
  display: flex;
  flex-wrap: wrap;
}

.advantages-card {
  color: #ffffff;
}

.advantages-card-title {
  color: #ffffff;
}

.advantages-image {
  width: 800px;
}

.advantages-items {
  background-color: #ffffff;
}

.advantages-items-card:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.servies-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search-button {
  margin: 0 auto;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}
.newsletter-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.newsletter-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.subscribe-theme-custom {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-theme-custom .subscribe-title {
  color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.page-footer-container a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 142px;
  list-style-type: none;
  display: flex;
}

.social-link {
  display: block;
  background-repeat: no-repeat;
  width: 47px;
  height: 40px;
}

.social-link-vk {
  background-image: url("../images/social/vk.svg");
  background-size: 24px 14px;
}
.social-link-telegram {
  background-image: url("../images/social/telegram.svg");
  background-size: 18px 16px;
}
.social-link-youtube {
  background-image: url("../images/social/youtube.svg");
  background-size: 22px 17px;
}

.phone-number-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.academy-link img {
  width: 115px;
  height: 100%;
}

.catalog-hero {
  color: #ffffff;
  background-image: url("../images/catalog/catalog-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #529eca;
}

.catalog-hero-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-home {
  background-image: url("../images/icons/home.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 15px;
}

.catalog-filter-form {
  display: flex;
  justify-content: left;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}

.catalog-filter-infr {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: auto;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-buttons {
  width: 191px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-accept {
  background-color: #82b3d3;
}

.catalog-filter-reset {
  background: none;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-header {
  color: #000000;
  display: flex;
}

.catalog-offers-found {
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-header select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin-right: 70px;
}

.catalog-view {
  margin: 0;
  padding: 0;
  width: 160px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.catalog-view-button {
  color: inherit;
  text-decoration: none;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

.catalog-view-card {
  background-image: url("../images/icons/view-cards.svg");
}
.catalog-view-feed {
  background-image: url("../images/icons/view-feed.svg");
}
.catalog-view-list {
  background-image: url("../images/icons/view-list.svg");
}

.product-item {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-link {
  color: #000000;
  text-decoration: none;
}

.product-name {
  font-size: 24px;
  line-height: 28px;
}

.product-image {
  width: 300px;
  height: 100%;
}

.product-card-wrapper {
  line-height: 21px;
  font-size: 18px;
  color: #333333;
}

.product-price {
  font-weight: 400;
}

.product-stars {
  width: 0;
  height: 17px;
  margin: 10px 0;
  background-image: url("../images/icons/star.svg");
  background-size: 18px 17px;
  background-repeat: space;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 89px;
}

.stars-5 {
  width: 114px;
}

.product-rating {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.catalog-footer {
  border-top: 1px solid #e6e6e6;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more a {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background: none;
  color: #000000;
}

.brand-color {
  background-color: #82b3d3;
}
.secondary-color {
  background-color: #756157;
}
.favorites-color {
  background-color: #7db54f;
}
